p{
    font-family: $raleway;
    color:$outer-space;
    font-size: $x-small;
}

h1{
  font-family: $raleway;
  font-weight: $bold;
  font-size: $large;

}

h2{
    font-size: $medium;
    color: $black;
    font-family: $raleway;
    font-weight: $bold
}

h3{
    font-size: $small;
    color:$black;
    font-family: $raleway;
    font-weight: $bold
}
