// Esquema de colores
$black: #121212;
$raisin-black: #000;
$nickel:#c6c6c6;
$light-gray: #545454;
$gray:#c9c9c9;
$white: #ffffff;
$outer-space: #444749;

//Fuente
$raleway: 'Raleway', sans-serif;

//font-weight
$bold: 700;
$regular: 400;

//font-size
$x-large:70px;
$large:40px;
$medium:30px;
$small:20px;
$x-small:16px;
