.nav__bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
    margin: 0 9% 0 9%;

}

.nav__menu--list{
display:flex;
align-items: center;
padding: 5px;
list-style:none
}

.nav__menu li {
  margin: 15px;
}

@media only screen and (max-width: 768px){
  .icon{
    display: none!important;
  }
}

span{
  font-size: 10px;
  font-weight: 700;
  font-family: $raleway;
  margin-top:0;
  position:absolute;


}
